{% extends "base.html" %}
{% block heading %}Todo List{% endblock %}
{% block content %}
    <style>
        input{
            position: relative;
            display: flex;
            flex-wrap: wrap;
            align-items: stretch;
            width: 100%;
        }
    </style>
    <div class="col align-self-center">
        <form method="POST" action="/" >{% csrf_token %}
            <div class="form-row">
            <div class="col-10">
                {{ form.title }}
            </div>
            <div class="col">
                <input class="btn btn-sm btn-primary" type="submit" name="create task">
            </div>
            </div>
        </form>
        {% for task in tasks %}
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title">{{ task.title }}</h5>
                    <a href="{% url 'update' task.id %}" class="btn btn-sm btn-primary">Update</a>
                    <a href="{% url 'delete' task.id %}" class="btn btn-sm btn-danger">Delete</a>
                  </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
